<template>
    <transition name="notification">
        <div v-if="show" :class="getTypeclass(type)">
            <p><i style="margin-right: 10px" :class="`fa-solid ${getTypeIcon(type)}`"></i>{{ options.message }}</p>
        </div>
    </transition>
</template>

<script>
import notification from '~/plugins/notification/notification'

export default {
    name: 'sh-notification',
    data() {
        return {
            options: {
                message: '',
                type: ''
            },
            show: false,
            type: ""
        }
    },
    methods: {
        getTypeIcon(type){
            switch (type) {
                case 'success':
                    return "fa-circle-check"
                    break;
                case 'error':
                    return "fa-circle-xmark"
                    break;
                case 'warning':
                    return "fa-circle-exclamation"
                    break;
                default:
                    return "fa-helicopter"
                    break;
            }
        },
        getTypeclass(type){
            switch (type) {
                case 'success':
                    return "notification--success"
                    break;
                case 'error':
                    return "notification--error"
                    break;
                case 'warning':
                    return "notification--warning"
                    break;
                default:
                    return "notification--heliheli"
                    break;
            }
        },
        close() {
            setTimeout(() => {
                this.show = false;
            }, 3000);
        }
    },
    beforeMount() {
        notification.event.$on("show", (options) => {
            this.options = options;
            this.type = options.type;
            this.show = true;
            this.close();
        });
    }
}
</script>

<style scoped lang="scss">
div{
    position: fixed;
    z-index: 100;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    width: 450px;
    height: 60px;
    padding: 0 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification--success{
    background-color: #41AF6F;
}
.notification--error{
    background-color: #E95757;
}
.notification--warning{
    background-color: #E9A657;
}
.notification--heliheli{
    background-color: #6495ED;
}

.notification-enter-active {
  animation: snackbar-in .3s ease-in-out;
}

.notification-leave-active {
  animation: snackbar-in .3s reverse ease-in-out;
}

@keyframes snackbar-in {
  0% {
    top: -100px;
  }
  100% {
    top: 40px;
  }
}
</style>