.customers__page {
    input {
        width: 400px;
    }
}

.customer__single {

    label {
        font-weight: bold;
    }

    .waiter__block__main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;

        .customer__form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;

            > div {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .note__block {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        &:last-of-type {
            margin: 0;
        }

        label {
            margin-bottom: 10px;
        }

        textarea {
            min-width: 415px;
            max-width: 415px;
            min-height: 200px;
            max-height: 200px;
        }
    }
}