.login{
    background-color: aqua;
    width: 100%;
    height: 100vh;
    //fin test
    display: flex;

    > div{
        width: 50%;
        height: 100%;
    }

    .login__right{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}