.section__portal {
    width: 850px;
    margin: 0 auto;
    margin-top: 70px;

    .container {
        border: 2px solid $grey;
        border-radius: 10px;
        width: 100%;
        overflow: hidden;
    }

    .container__header {
        width: 100%;
        height: 60px;
        padding: 0 10px;
        border-bottom: 2px solid $grey;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }

        > div {
            display: flex;
            align-items: center;

            p {
                margin-left: 10px;
            }
        }
    }

    .container__restaurants {
        padding: 10px;

        .container__restaurants--card {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: $grey;
            cursor: pointer;
            transition: .2s ease;
            display: flex;
            align-items: center;

            &:last-child {
                margin: 0;
            }

            &:hover {
                box-shadow: 0 0 6px rgba($color: #000, $alpha: .2);
            }

            img {
                margin-right: 10px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }
    }
}