.waiters__page {

    .waiter__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .form__modal__waiters {
        display: flex;
        flex-direction: column;
    }
}

.waiter__single, .customer__single {

    .waiter__block {
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: $white;

        .waiter__form {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

            > div {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .waiter__header {
        display: flex;
        align-items: center;

        .waiter__header__img {
            width: 90px;
            height: 90px;
            margin-right: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}