.layout__default {
    height: 100vh;
    display: flex;

    nav {
        background-color: $white;
        border-right: 1px solid $grey;
        padding: 40px 20px;
        width: 230px;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 1rem;
        }
        h2 {
            font-size: 1.2rem;
        }

        .top__nav {
            display: flex;
            align-items: center;

            .nav__logo {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        .middle__nav {
            .nav__link__block {
                display: flex;
                flex-direction: column;

                a.nuxt-link-exact-active {
                    color: $white;
                    background-color: $blue;
                }

                a {
                    padding: 8px 14px;
                    margin-bottom: 5px;
                    border-radius: 8px;
                    color: $black;
                    text-decoration: none;
                    transition: .2s ease;

                    &:hover {
                        color: $white;
                        background-color: $blue;
                    }

                    &:last-child {
                        margin: 0;
                    }

                    i {
                        margin-right: 15px;
                    }
                }
            } 
        }
    }
}