.sh-table__container {
    width: 100%;
    max-height: 600px;
    overflow: scroll;
    text-align: center;
    border: 1px solid #E5E5E5;
    border-radius: 15px;

    .sh-table__row, header {
        padding: 10px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    header {
        background-color: #F2F2F2;
        padding: 15px 0;
        color: #215068;
        font-weight: bold;
    }

    .sh-table__row {
        color: #000;
        transition: .2s ease;

        &:hover {
            background-color: #F2F2F2;
        }
    }
    .sh-table__row--border {
        border-top: 1px solid #E5E5E5;
    }

}