<template>
    <div class="section__main waiter__single single__page">
        <div class="single__top waiter__block">
            <div class="section__main__header">
                <div>
                    <h2>Serveur - {{ waiter.identity.firstname }}</h2>
                    <div class="breadcrumb">
                        <span><nuxt-link to="/">Dashboard</nuxt-link> / <nuxt-link to="/waiters">Serveurs</nuxt-link> / {{ waiter.identity.firstname }} {{ waiter.identity.lastname }}</span>
                    </div>
                </div>
                <sh-button @click.native="showModal = true">Sauvegarder</sh-button>
            </div>
            <div class="waiter__header">
                <div class="waiter__header__img" :style="`background-image: url('${waiter.image}')`"></div>
                <div>
                    <h3 class="mb-1">{{ waiter.identity.firstname }} {{ waiter.identity.lastname }}</h3>
                    <p>Serveur chez <span class="t-primary">{{ restaurant.name }}</span></p>
                </div>
            </div>
        </div>
        <section>
            <div class="waiter__block">
                <h3 class="t-primary mb-2">Informations générales</h3>
                <div class="waiter__form">
                    <div>
                        <label class="mb-1" for="firstname">Prénom</label>
                        <input type="text" id="firstname" placeholder="Prénom">
                    </div>
                    <div>
                        <label class="mb-1" for="lastname">Nom</label>
                        <input type="text" id="lastname" placeholder="Nom">
                    </div>
                    <div>
                        <label class="mb-1" for="restaurant">Restaurant</label>
                        <select id="restaurant">
                            <option value="test._id">test</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="waiter__block">
                <h3 class="t-primary mb-2">Accès au compte</h3>
                <div class="waiter__form">
                    <div>
                        <label class="mb-1" for="email">Email</label>
                        <input type="email" id="email" placeholder="Email">
                    </div>
                    <div>
                        <label class="mb-1" for="password">Mot de passe</label>
                        <input type="password" id="password" placeholder="Mot de passe">
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: "waiterSingle",
    head() {
        return {
            title: "Shifty - Mon serveur",
            meta: [
                {hid: 'description', name: 'description', content: 'serveur'}
            ]
        }
    },
    async asyncData({$axios, params, $auth, error}) {
        if($auth.loggedIn){

            return $axios.$get(`/waiters/${$auth.$state.restaurant._id}/${params.id}`).then(data => {
        
                return {
                    user: $auth.user,
                    waiter: data.body,
                    restaurant: $auth.$storage.getUniversal('restaurant')
                }
        
            }).catch(err => {
            
                error({statusCode: 404});
            
            })
        }
    },
    data() {
        return {
            showModal: false
        }
    }
}
</script>