<template>
    <div class="section__main waiters__page">
        <div class="section__main__header">
            <h2>Serveurs</h2>
            <sh-button @click.native="showModal = true">Ajouter</sh-button>
        </div>
        <div v-if="waiters.length == 0">
            <p>Aucun serveur</p>
        </div>
        <div class="waiter__container" v-else>
            <nuxt-link :to="`/waiters/${waiter._id}`" v-for="waiter in waiters" :key="waiter._id" class="card--waiter">
                <div class="card--waiter__image" :style="`background-image: url('${waiter.image}')`"></div>
                <p>{{ waiter.identity.firstname }} {{ waiter.identity.lastname }}</p>
            </nuxt-link>
        </div>

        <sh-modal :show="showModal" title="Ajouter un serveur" @closed="showModal = false">
            <!--
            <div class="block__info mb-2">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati quod neque perspiciatis ut reprehenderit. Beatae harum suscipit a veniam eius architecto cum reiciendis consequuntur eligendi.</p>
            </div>
            -->
            <form class="form__modal__waiters">
                <input class="mb-1" type="text" placeholder="Prénom" v-model="form.firstname">
                <input class="mb-1" type="text" placeholder="Nom" v-model="form.lastname">
                <input type="email" placeholder="Email" v-model="form.email">
                <sh-button class="mt-2" type="success" :loading="isLoading" @click.native="createWaiter">Ajouter</sh-button>
            </form>
        </sh-modal>
    </div>
</template>

<script>
export default {
    name: "waiters",
    head() {
        return {
            title: "Shifty - Serveurs",
            meta: [
                {hid: 'description', name: 'description', content: 'serveurs'}
            ]
        }
    },
    async asyncData({$axios, $auth, error}) {

        if($auth.loggedIn){

            return $axios.$get(`/waiters/${$auth.$state.restaurant._id}`).then(data => {
        
                return {
                    user: $auth.user,
                    waiters: data.body
                }
        
            }).catch(err => {
            
                error({statusCode: 404});
            
            })
        }
    },
    data() {
        return {
            showModal: false,
            form: {
                firstname: "",
                lastname: "",
                email: ""
            },
            isLoading: false
        }
    },
    methods: {
        createWaiter(e) {
            e.preventDefault();

            if(this.form.firstname === "" || this.form.lastname === "" || this.form.email === "") {
                return this.$notification.show({
                    message: "Merci de remplir tous les champs",
                    type: "warning"
                });
            }

            this.isLoading = true;

            this.$axios.post(`/waiters/${this.$auth.$state.restaurant._id}`, this.form).then(data => {

                this.isLoading = false;
                this.showModal = false;
                this.waiters.push(data.body)

                this.$notification.show({
                    message: "Serveur créé !",
                    type: "success"
                });
            }).catch(err => {

                this.isLoading = false;
                this.showModal = false;

                let message = ""

                switch(err.message){
                    case 'Email is missing or not valid':
                        message = "Email non valide"
                        break;
                    case 'Cannot create waiter':
                        message = "Impossible de créer le serveur"
                        break;
                    default: 
                        message = "Une erreur est survenue"
                }
                this.$notification.show({
                    message: message,
                    type: "error"
                });
            })
        }
    }
}
</script>