<template>
    <button :disabled="disabled || loading" :class="getType(type)">
        <svg v-if="loading" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background: rgba(255, 255, 255, 0); display: block;" width="1rem" height="1rem" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" r="32" stroke-width="8" stroke="#ffffff" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
            </circle>
        </svg>
        <span><slot></slot></span>
    </button>
</template>

<script>
export default {
    name: 'sh-button',
    props: ['disabled', 'loading', 'type'],
    methods: {
        getType(type){
            switch (type) {
                case 'success':
                    return "button--success"
                    break;
                case 'error':
                    return "button--error"
                    break;
                case 'warning':
                    return "button--warning"
                    break;
                default:
                    return "button--primary"
                    break;
            }
        } 
    }
}
</script>

<style scoped lang="scss">
button {
    border: none;
    color: #fff;
    padding: 10px 14px;
    border-radius: 10px;
    cursor: pointer;
    min-width: 100px;
    min-height: 36px;
    transition: .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled{
        background-color: #979797;
        cursor: not-allowed;
    }

    &:hover{
        opacity: .9;
    }

    svg {
        margin-right: 5px;
    }
}

.button--success{
    background-color: #41AF6F;
}
.button--error{
    background-color: #E95757;
}
.button--warning{
    background-color: #E9A657;
}
.button--primary{
    background-color: #215068;
}
</style>