<template>
    <transition name="modal">
        <div class="modal__main" @keyup.esc="emitClose" v-show="show" tabindex="0">
            <div class="modal__block">
                <header>
                    <h3 v-if="title">{{ title }}</h3>
                    <h3 v-else>Modal</h3>
                    <i @click="emitClose" class="fa-solid fa-xmark"></i>
                </header>
                <div>
                    <slot></slot>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "shModal",
    props: ['show', 'title'],
    methods: {
        emitClose() {
            this.$emit("closed");
        }
    }
}
</script>

<style lang="scss" scoped>
.modal__main {
    position: fixed;
    inset: 0;
    z-index: 98;
    background: rgba($color: #000000, $alpha: .7);
}

.modal__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    width: 550px;
    min-height: 600px;
    max-height: 800px;
    overflow: scroll;
    background-color: #fff;

    header {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;

        i {
            font-size: 1.6rem;
            cursor: pointer;
        }
    }
}

//animation
.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.5s;
}
.modal-enter,
.modal-leave-to {
  opacity: 0;
}
</style>