<template>
    <label class="switch">
        <input type="checkbox" v-model="switchData">
        <span class="slider round"></span>
    </label>
</template>

<script>
export default {
    name: 'sh-switch',
    props: ['state'],
    data() {
        return {
            switchData: false
        }
    },
    watch: {
        switchData() {
            this.$emit('changed', this.switchData)
        }
    },
    created() {
        if(this.state){
            this.switchData = this.state;
        } else {
            this.switchData = false;
        }
    }
}
</script>

<style lang="scss" scoped>
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;

    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &::before{
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

input:checked + .slider {
  background-color: #215068;
}

input:focus + .slider {
  box-shadow: 0 0 1px #215068;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>