<template>
    <div :class="getType(type)">
        <i  v-if="icon" :class="'fa-solid '+icon"></i>
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: 'sh-tag',
    props: ['icon', 'type'],
    methods: {
        getType(type){
            switch (type) {
                case 'success':
                    return "tag--success"
                    break;
                case 'error':
                    return "tag--error"
                    break;
                case 'warning':
                    return "tag--warning"
                    break;
                default:
                    return "tag--primary"
                    break;
            }
        } 
    }
}
</script>

<style scoped lang="scss">
div{
    background-color: aqua;
    width: fit-content;
    border-radius: 4px;
    font-size: 14px;
    padding: 2px 6px;
    color: #fff;
}
.tag--success{
    background-color: #41AF6F;
}
.tag--error{
    background-color: #E95757;
}
.tag--warning{
    background-color: #E9A657;
}
.tag--primary{
    background-color: #215068;
}
</style>