<template>
    <div class="sh-table__container">
        <header>
            <p>Nom</p>
            <p>Prénom</p>
            <p>Téléphone</p>
            <p>Fidélité</p>
            <p>Remarques</p>
        </header>
        <div v-for="(customer, index) in customers" :key="customer._id">
            <div v-if="index === 0" class="table_separator">{{ customer.identity.lastname[0] }}</div>
            <div v-else-if="getLetter(index)" class="table_separator">{{ customer.identity.lastname[0] }}</div>
            <nuxt-link :to="`/customers/${customer._id}`" class="sh-table__row">
                <p>{{ customer.identity.lastname }}</p>
                <p>{{ customer.identity.firstname }}</p>
                <p>{{ customer.identity.phone }}</p>
                <p>-</p>
                <p>-</p>
            </nuxt-link>
        </div>
    </div>
</template>

<script>
export default {
    name: "sh-table",
    props: ['customers'],
    methods: {
        getLetter(index) {
            if(this.customers[index].identity.lastname[0] === this.customers[index - 1].identity.lastname[0]){
                return false;
            } else {
                return true
            }
        }
    }
}
</script>

<style scoped>
.table_separator {
    background-color: #E5E5E5;
    text-align: left;
    padding: 3px 10px;
}
</style>