/**
Font
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/**
Variables
*/
@import "_partials/variables.scss";

/**
Layouts
*/
@import "_partials/components/default.layout.scss";

/**
Components
*/
@import "_partials/components/sh-table.scss";

/**
Pages
*/
@import "_partials/pages/login.scss";
@import "_partials/pages/portal.scss";
@import "_partials/pages/waiters.scss";
@import "_partials/pages/customers.scss";
 
/**
Components
*/
//@import "_partials/components/navigation";
 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

input, select, textarea {
    outline: none;
    padding: 9px 7px;
    border: 1px solid $grey;
    border-radius: 6px;

    &:focus {
        border: 1px solid rgb(193, 193, 193);
    }

    &:disabled {
        background-color: rgb(226, 226, 226);
        border: 1px solid rgb(193, 193, 193);
    }
}

//margin
.p-0 {
    padding: 0 !important;
}
.m-0 {
    margin: 0 !important;
}
.m-1 {
    margin: 10px;
}
.mt-1 {
    margin-top: 10px;
}
.mb-1 {
    margin-bottom: 10px;
}
.ml-1 {
    margin-left: 10px;
}
.mr-1 {
    margin-right: 10px;
}
.m-2 {
    margin: 20px;
}
.mt-2 {
    margin-top: 20px;
}
.mb-2 {
    margin-bottom: 20px;
}
.ml-2 {
    margin-left: 20px;
}
.mr-2 {
    margin-right: 20px;
}

.t-grey {
    color: $text-grey;
}
.t-primary {
    color: $blue;
}

.shadow {
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: .1);
}

.d-flex {
    display: flex;
}

.cursor {
    cursor: pointer;
}

//Global class

a {
    text-decoration: none;
}

.section__main {
    width: 100%;
    padding: 20px;
    height: 100vh;
    overflow: scroll;
}

.section__main__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.single__page {
    padding-top: 0;
    background-color: $grey;

    .single__top {
        background-color: $white;
        border-radius: 0 0 10px 10px;
    }
}

.construction-page {
    width: 100%;
    height: 100%;
    transform: translateY(-100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    svg {
        height: 50px;
        width: auto;
        margin-bottom: 1rem;
    }
}

.block__info {
    background-color: $grey;
    border-radius: 10px;
    padding: 15px;
}

.breadcrumb {
    margin-bottom: 20px;

    a {
        color: $blue;
    }
}

.block__card {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.card--waiter {
    padding: 15px;
    border: 1px solid $grey;
    border-radius: 10px;
    text-decoration: none;
    color: $black;
    transition: .2s ease;
    display: flex;
    align-items: center;

    &:hover {
        border: 1px solid $blue;
        color: $blue;
    }

    .card--waiter__image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 12px;
    }
}