<template>
    <div class="section__main customers__page">
        <div class="section__main__header">
            <h2>Clients</h2>
            <sh-button @closed="showModal = false" @click.native="showModal = true">Ajouter</sh-button>
        </div>
        <div>
            <input type="text" placeholder="Rechercher un client...">
        </div>
        <sh-table class="mt-2" :customers="customers"></sh-table>

        <sh-modal :show="showModal" title="Ajouter un client" @closed="showModal = false">
            <form>
                
            </form>
        </sh-modal>
    </div>
</template>

<script>
export default {
    name: 'customers',
    async asyncData({$axios, $auth, error}) {

        if($auth.loggedIn){

            return $axios.$get(`/customers/${$auth.$state.restaurant._id}`).then(data => {

                const result = data.body.map(x => x.customer)
        
                return {
                    user: $auth.user,
                    customers: result.sort((a, b) => {
                        if(a.identity.lastname < b.identity.lastname) { return -1; }
                        if(a.identity.lastname > b.identity.lastname) { return 1; }
                        return 0;
                    })
                }
        
            }).catch(err => {
            
                error({statusCode: 404});
            
            })
        }
    },
    data() {
        return {
            showModal: false
        }
    }
}
</script>