<template>
    <div class="section__main customer__single single__page">
        <div class="single__top block__card">
            <div class="section__main__header">
                <div>
                    <h2>Client(e) - {{ customer.identity.firstname }}</h2>
                    <div class="breadcrumb">
                        <span><nuxt-link to="/">Dashboard</nuxt-link> / <nuxt-link to="/customers">Clients</nuxt-link> / {{ customer.identity.firstname }} {{ customer.identity.lastname }}</span>
                    </div>
                </div>
            </div>
            <div class="waiter__header">
                <div class="waiter__header__img" :style="`background-image: url('${customer.image}')`"></div>
                <div>
                    <h3 class="mb-1">{{ customer.identity.firstname }} {{ customer.identity.lastname }}</h3>
                    <sh-tag type="success">à calculer</sh-tag>
                </div>
            </div>
        </div>
        <section class="waiter__block__main">
            <div class="waiter__block--left">
                <div class="block__card">
                    <h3 class="t-primary mb-2">Informations générales</h3>
                    <div class="waiter__form customer__form">
                        <div>
                            <label class="mb-1" for="firstname">Prénom</label>
                            <input type="text" id="firstname" placeholder="Prénom">
                        </div>
                        <div>
                            <label class="mb-1" for="lastname">Nom</label>
                            <input type="text" id="lastname" placeholder="Nom">
                        </div>
                        <div>
                            <label class="mb-1" for="email">Email</label>
                            <input type="email" id="email" placeholder="Email">
                        </div>
                        <div>
                            <label class="mb-1" for="phone">Téléphone</label>
                            <input type="phone" id="phone" placeholder="Téléphone">
                        </div>
                    </div>
                </div>
                <div class="block__card">
                    <h3 class="t-primary mb-2">Réservations précédentes</h3>
                    <p>Aucune reservations</p>
                </div>
            </div>
            <div class="block__card">
                <h3 class="t-primary mb-2">Remarques</h3>
                <div class="note__block">
                    <label for="customer_note">Note du client</label>
                    <textarea id="customer_note" cols="30" rows="10"></textarea>
                </div>
                <div class="note__block">
                    <label for="restaurant_note">Note interne</label>
                    <textarea id="restaurant_note" cols="30" rows="10"></textarea>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: "Reservation",
    async asyncData({$axios, params, $auth, error}) {

        if($auth.loggedIn){

            return $axios.$get(`/reservations/${$auth.$state.restaurant._id}/${params.id}`).then(data => {
        
                return {
                    user: $auth.user,
                    reservations: data.body
                }
        
            }).catch(err => {

                error({statusCode: 404});
            
            })
        }
    },
    data() {
        return {
            showModal: false
        }
    },
}
</script>