<template>
    <div class="section__main">
        <div class="section__main__header">
            <h2>Réservations</h2>
            <sh-button @click.native="showModal = true">Ajouter</sh-button>
        </div>
        <div class="sh-table sh-table__container">
            <header>
                <p>Statut</p>
                <p>Nombre de client(s)</p>
            </header>
            <div v-for="(reservation, index) in reservations" :key="reservation._id">
                <div v-if="index === 0" class="table_separator">{{ $moment(reservation.date).format("DD MMMM YYYY") }}</div>
                <div v-else-if="getLetter(index)" class="table_separator">{{ $moment(reservation.date).format("DD MMMM YYYY") }}</div>
                <nuxt-link :to="`/reservations/${reservation._id}`" class="sh-table__row">
                    <p><sh-tag style="margin: auto;" :type="getStatusColor(reservation.status)">{{ getStatus(reservation.status) }}</sh-tag></p>
                    <p>{{ reservation.customers.length }}</p>
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Reservations',
    async asyncData({$axios, $auth, error}) {

        if($auth.loggedIn){

            return $axios.$get(`/reservations/${$auth.$state.restaurant._id}`).then(data => {
        
                return {
                    user: $auth.user,
                    reservations: data.body
                }
        
            }).catch(err => {

                error({statusCode: 404});
            
            })
        }
    },
    data() {
        return {
            showModal: false
        }
    },
    methods: {
        getLetter(index) {
            if(this.reservations[index].date === this.reservations[index - 1].date){
                return false;
            } else {
                return true
            }
        },
        getStatus(status) {
            if(status === 'active') {
                return "Actif"
            } else {
                return "Passée"
            }
        },
        getStatusColor(status) {
            if(status === 'active') {
                return "success"
            } else {
                return "warning"
            }
        }
    }
}
</script>

<style scoped>
.table_separator {
    background-color: #E5E5E5;
    text-align: left;
    padding: 3px 10px;
}
</style>