<template>
    <section>
        <notification/>
        <Nuxt />
    </section>
</template>

<script>
import notification from '../plugins/notification/notification.vue'

export default {
  components: { notification },
  name: 'auth'
}
</script>