<template>
    <section class="layout__default">
        <notification/>
        <nav>
          <div class="top__nav">
            <div class="nav__logo mr-1" :style="`background-image: url('${restaurant.pictures.logo}')`"></div>
            <div>
              <h1>{{ trimName(restaurant.name) }}</h1>
              <div class="t-grey cursor">
                Paramètres <i class="fa-solid fa-caret-down"></i>
                <div>
                  <div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="middle__nav mt-2">
            <div>
              <h2 class="mb-1">Réservation</h2>
              <div class="nav__link__block mb-2">
                <nuxt-link to="/"><i class="fa-solid fa-chart-line"></i>Dashboard</nuxt-link>
                <nuxt-link to="/reservations"><i class="fa-solid fa-book-open"></i>Réservations</nuxt-link>
                <nuxt-link to="/calendar"><i class="fa-solid fa-calendar-days"></i>Calendrier</nuxt-link>
                <nuxt-link to="/customers"><i class="fa-solid fa-user"></i>Clients</nuxt-link>
              </div>
              <h2 class="mb-1">Mon restaurant</h2>
              <div class="nav__link__block mb-2">
                <nuxt-link to="/waiters"><i class="fa-solid fa-user-tie"></i>Serveurs</nuxt-link>
                <nuxt-link to="/map"><i class="fa-solid fa-utensils"></i>Plans</nuxt-link>
                <nuxt-link to="/"><i class="fa-solid fa-star"></i>Reviews</nuxt-link>
                <a :href="`https://www.shifty.fr/${restaurant.slug}`" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>Le restaurant</a>
              </div>
              <h2 class="mb-1">Support</h2>
              <div class="nav__link__block mb-2">
                <nuxt-link to="/"><i class="fa-solid fa-gear"></i>Paramètres</nuxt-link>
                <nuxt-link to="/"><i class="fa-solid fa-life-ring"></i>Contacts</nuxt-link>
              </div>
            </div>
          </div>
          <div class="bottom__nav">
            <div>

            </div>
          </div>
        </nav>
        <Nuxt />
    </section>
</template>

<script>
import notification from '../plugins/notification/notification.vue'
export default {
  components: { notification },
  name: 'default',
  middleware: 'restaurant',
  data() {
    return {
      user: {},
      restaurant: {}
    }
  },
  methods: {
    trimName(name) {
      if(name === undefined) return ""

      if(name.length > 9) {
        let newName = name.trim();
        return newName.slice(0, 9) + "...";
      } else {
        return name;
      }
    }
  },
  beforeMount() {
    this.user = this.$auth.$state.user;
    this.restaurant = this.$auth.$storage.getUniversal('restaurant');
  } 
}
</script>