<template>
  <div class="section__main">
    <p>test</p>
    <sh-button :loading="false" @click.native="openNotification" type="success">super cool</sh-button>
    <sh-tag icon="" type="error">Non Payé</sh-tag>
    <sh-switch @changed="(event) => {testSwitch = event}"></sh-switch>
    <sh-switch @changed="(event) => {testSwitch2 = event}"></sh-switch>
    <img src="/default.png" alt="">
  </div>
</template>

<script>

export default {
  head() {
    return {
      title: "Shifty - Tableau de bord",
      meta: [
        {hid: 'description', name: 'description', content: 'Tableau de bord'}
      ]
    }
  },
  name: 'IndexPage',
  data() {
    return {
      testSwitch: null,
      testSwitch2: null
    }
  },
  methods: {
    openNotification() {
      console.log('btn clicked')
      this.$notification.show({
        message: "Erreur serveur..",
        type: "warning"
      });
    }
  },
  beforeMount() {
    console.log(this.$auth);
  } 
}
</script>
