<template>
    <div class="login">
        <div>
            <form>
                <h1>Connexion</h1>
                <input v-model="login.email" placeholder="Email" type="email">
                <input v-model="login.password" placeholder="mot de passe" type="password">
            </form>
            <sh-button :loading="isLoading" @click.native="loginUser">Connexion</sh-button>
        </div>
        <div style="background-image: url('/images/login.jpg')" class="login__right"></div>
    </div>
</template>

<script>
export default {
    name: "login",
    layout: "auth",
    head() {
        return {
            title: "Shifty - Connexion",
            meta: [
                {hid: 'description', name: 'description', content: 'connexion'}
            ]
        }
    },
    data() {
        return {
            login: {
                email: "",
                password: ""
            },
            isLoading: false
        }
    },
    methods: {
        loginUser() {
            if(this.login.email === ""){
                return this.$notification.show({message: "Merci de renseigner un email", type: "warning"})
            }
            if(this.login.password === ""){
                return this.$notification.show({message: "Merci de renseigner un mot de passe", type: "warning"})
            }
            this.isLoading = true;

            this.$auth.loginWith('local', {data: this.login}).then(() => {
                this.$notification.show({message: "Connecté avec succes", type: "success"})
                this.isLoading = false;
                this.$router.push('/')

            }).catch(err => {
                this.isLoading = false;
                return this.$notification.show({message: "Impossible de connecter l'utilisateur", type: "error"})
            })
        } 
    }
}
</script>