<template>
    <div class="section__portal">
        <h1 class="mb-1">Choisissez votre restaurant</h1>
        <p class="t-grey mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quia officiis ipsam recusandae necessitatibus iusto ipsum quidem porro explicabo. Assumenda provident perspiciatis hic soluta sint.</p>
        <div class="container">
            <div class="container__header">
                <div>
                    <img :src="user.image" :alt="`${user.identity.firstname} ${user.identity.lastname}`">
                    <p>{{ user.identity.firstname }} {{ user.identity.lastname }}</p>
                </div>
                <sh-button>Ajouter un restaurant</sh-button>
            </div>
            <div v-if="restaurants.length > 0" class="container__restaurants">
                <div class="container__restaurants--card" v-for="restaurant in restaurants" :key="restaurant._id" @click="getRestaurant(restaurant)">
                    <img :src="restaurant.pictures.logo" :alt="restaurant.name">
                    <p>{{ restaurant.name }}</p>
                </div>
            </div>
            <div v-else class="container__restaurants">
                <p>Aucun restaurant. Pour en ajouter un cliquez sur "Ajouter un restaurant".</p>
            </div>
        </div>
        <sh-button class="mt-1" type="error">Deconnexion</sh-button>
    </div>
</template>

<script>
export default {
    name: "portal",
    layout: "auth",
    head() {
        return {
            title: "Shifty - Portail",
            meta: [
                {hid: 'description', name: 'description', content: 'portail'}
            ]
        }
    },
    async asyncData({$axios, $auth, error}) {

        if($auth.loggedIn){

            return $axios.$get(`/restaurants`).then(data => {
        
                return {
                    user: $auth.user,
                    restaurants: data.body
                }
        
            }).catch(err => {
            
                error({statusCode: 404});
            
            })
        }
    },
    methods: {
        getRestaurant(restaurant) {
            this.$auth.$storage.setUniversal('restaurantId', restaurant._id);
            this.$router.push('/');
        }
    }
}
</script>